@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root { height:100%; margin:0; }

.app {
  display: grid;
  grid-template-columns: 300px 6px 1fr;
  height: 100vh;
}

.controls {
  overflow:auto;      /* scroll if needed */
  display: flex;
  flex-direction: column;
}

.venue-events, .date-events {
  text-align: right;
  cursor: pointer; 
}

.venue-events .trash-btn {
  cursor: pointer; 
}

.venue-event, .date-event {
  position: relative;
  border: 1px solid #ccc;
  padding: 12px;
  margin-bottom: 10px;
  background: white;
  text-align: left;
}

.date-event p,
.venue-event p {
  margin: 2px 0;
}

.date-event .button-bar,
.venue-event .button-bar {
  position: absolute;
  bottom: 1px;
  right: 2px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

.divider {
  cursor: col-resize;
  background: #ddd;
}



